.all{
    text-align: left;
    background-color: #b19cd9;
}



.bkg1{
    
}
.bkg2{

    margin-right: 1000px;
}
.bkg4{

    margin-right: 1000px;
}
.bkg3{
    background-color: blanchedalmond;
    margin-right: 300px;
}